.product_info {
    display: flex;
    position: relative;
    width: 80vw;
    height: max-content;
    margin-bottom: 1em;
}

.product_name_h1 {
    font-size: 1.8vw;
    text-align: center;
    text-transform: uppercase;
}

.product_image {
    width: 38vw;
}

.product_desc {
    height: 4vh;
    padding: 4px;
    border: 1px solid #888;
    border-radius: 5px;
}

.price_add_seller {
    margin: 1em;
    padding-top: 10vh;
}

.product_seller {
    margin-top: 1em;
    font-size: .9vw;
    font-weight: 700;
    text-align: center;
}

.related {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    right: 0;
}

.related_h4 {
    margin-top: 1em;
    font-size: .8vw;
    text-align: center;
    text-transform: uppercase;
}

.sellers_section {
    margin-top: 2vh;
}

.sellers_products {
    display: flex;
    gap: 1em;
}

.sellers_h4 {
    margin-top: 1em;
    font-size: .8vw;
}

